{% extends '../base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class="container">
    <div class="row py-4">
        <div class="col-md-12 my-2">
            <h4>Welcome {{request.user.username}}</h4>
        </div>
        <div class="col-md-12 my-2">
            <a href="{% url 'change_password' %}">Change Password</a>
        </div>
        <div class="col-md-12 my-2">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>

{% endblock content %}